<% wrap_layout :layout do %>
  <article>
    <%= yield %>
  </article>
  <br />
  <hr />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  See something wrong?<br />
  or just want to say hello?<br />
  <a href="https://github.com/coleww/cole-codes-cool-code/tree/master/source">this blogotronz</a> is open-source!<br />
  file an issue or make a pull-request or whatever i'm not about to tell you what to do there is no authority but yourself.<br />
<% end %>