---
pageable: true
---

<h1>POSTS</h1>
<ol>
<% blog.articles.each_with_index do |article, i| %>
  <li><h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2></li>
<% end %>
</ol>

